/* Reseateadores */
* {
    margin: 0;
    padding: 0;
    list-style: none; 
    font-family: "Roboto", sans-serif;
}

/* Asigno formato al HEADER */

header {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav, .title, .browser-n-filter {
    width: 20%;
    height: 100%;
}

nav {
    display: flex;
    flex-direction: row;
}

.title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title ul {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.browser-n-filter {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.filter {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* NAV desplegable */

nav ul {
    position: absolute;
    top: 10vh;
}

.nav__man, .title__unselected {
    color: grey;
}

.promo {
    color: red;
}

/* Espacio donde estan todos los articulos*/

main, section {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.article-box {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Temporalmente sin imagenes para hacer la estructura*/
.article-box__image, .article-box__name, .article-box__price {
    width: 100%;
}